html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.site-main{
    flex-grow: 1;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
