
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
        url("../fonts/FuturaPT-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
        url("../fonts/FuturaPT-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
        url("../fonts/FuturaPT-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Futura PT','Arial',
    'sans-serif';
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
   
}

.site-main{
    flex-grow: 1;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-sm{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

img{
    vertical-align: middle;
    object-fit: cover;
}


