.header-top {
	background-color: #f9f8f8;
}

.header-top .container {
	display: flex;
	align-items: center;
}
.header-top__paragrf {
	position: relative;
	margin: 0;
	margin-left: auto;
	padding: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	color: #333333;
}

.header-top__paragrf::before {
	position: absolute;
	width: 14px;
	height: 13px;
	top: 1px;
	left: -20px;
	display: inline-block;
	background-image: url(../../images/house.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: ' ';
}

.header-top__list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	margin-left: 100px;
	padding: 0;
}

.header-top__list2 {
	display: flex;
	list-style: none;
	margin: 0;
	margin-left: 100px;
	padding: 0;
}

.header-top__item {
	position: relative;
}

.header-top__item::before {
	position: absolute;
	width: 13px;
	height: 13px;
	top: 14px;
	left: 0;
	display: inline-block;
	background-image: url(../../images/phone.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	content: ' ';
}

.round::before {
	position: absolute;
	width: 8px;
	height: 8px;
	top: 16px;
	left: -3px;
	display: inline-block;
	background-color: #ffbd54;
	border-radius: 50%;
	content: ' ';
}

.header-top__item__link {
	display: inline-block;
	text-decoration: none;
	padding: 12px 22px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
}

.header-top__item__link:hover {
	color: #ffbd54;
}

.header-top__item__link:active {
	color: #333333;
	opacity: 0.6;
}

.header-top__item2 {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
}
// ==============bottom=================
.header-bottom {
	background: #ffffff;
	border: 1px solid #f3f3f3;
	box-sizing: border-box;
}

.header-bottom .container {
	position: relative;
	display: flex;
	align-items: center;
	
	
}

.header-bottom__link:hover{
    opacity: 0.8;
}

.header-bottom__link:active{
    opacity: 0.6;
}

.header-bottom__img {
	position: absolute;
	top: -18px;
	left: 20px;
}

.nav__list {
	position: relative;
	display: flex;
	margin: 0;
    margin-left: 200px;
	padding: 0;
	list-style: none;
}

.nav__list::before {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 22px;
    left: -6px;
    display: inline-block;
    background-image: url(../../images/fish.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: " ";
}

.nav__item__link {
	display: inline-block;
	text-decoration: none;
	padding: 19px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #333333;
    
}

// .nav__item__link:hover{
    
//     border-bottom: 3px solid peru;
// }

.header-bottom__link {
	margin-left: auto;
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	text-align: right;
	color: #333333;
}


@media only screen and(max-width: 1166px) {
    .header-top .container{
		display: flex;
		justify-content: space-between;
	} 
    

	.header-top__paragrf{
		margin: 0;
	}
	.header-top__list{
		flex-direction: column;
		margin-left: 0;

	}

	.header-top__list2{
		flex-direction: column;
		margin-left: 0;
	}
}

@media only screen and(max-width: 1018px) {
	.nav__list{
		flex-direction: column;
	}

	.header-bottom__link{
		align-items: flex-start;
	}
	
}
